[include]
    # [user], [mergetool], [difftool] section
    path=.gitconfig.local
[core]
	precomposeunicode = true
	quotepath = false
	excludesfile = ~/.gitignore_global
	config = emacsclient
	ignorecase = false
[alias]
	co = checkout
	b = branch
	ci = commit
	st = status
	graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	fix = commit --amend

    # http://gggritso.com/human-git-aliases
    branches = branch -a
    tags = tag
    stashes = stash list

    unstage = reset -q HEAD --
    discard = checkout --
    uncommit = reset --mixed HEAD~
    amend = commit --amend
    nevermind = !git reset --hard HEAD && git clean -d -f

    precommit = diff --cached --diff-algorithm=minimal -w
[push]
	default = simple
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
[log]
	date = local
[rebase]
	autosquash = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.1/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
	compactionHeuristic = true
